

/* 
===============================
=== Dark 
 Palette :: https://colorhunt.co/palette/404258474e6850577a6b728e
===============================
*/


/* 
===============================
=== Light 
 Palette :: https://colorhunt.co/palette/f1f6f914274e3948679ba4b4
===============================
*/


$secondary-color: #394867;
$bg-grey: #394867;

// Font and sizes

$body-font: 'IBM Plex Sans', sans-serif;
$font-small: 14px;
$font-medium: 16px;
$font-large: 22px;

$icon-small: 1.2rem;
$icon-medium: 1.5rem;


/* 
===============================
=== Others 
===============================
*/

// Contaniner
